/* ==========================================================================
   Configurações do site
   ========================================================================== */

/* Cores
   ========================================================================== */

/*
 * Dicas de como organizar variáveis das cores
 * de maneira adequada: http://goo.gl/5lVl2b
 */

/* Paleta de cores */

$azul-mais-claro: #A7F0FF;
$azul-medio: #7DB4BF;
$azul-escuro: #53787F;
$azul-mais-escuro: #2A3C40;
$azul-claro: #96D8E5;

/* Aplicação das cores */

$color-link: $azul-mais-escuro;
$color-link-hover: $azul-escuro; 

/* Fontes
   ========================================================================== */