/* ==========================================================================
   States
   ========================================================================== */

/* Classes auxiliares
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Esconder dos leitores de tela e browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Esconder apenas visualmente, mas ainda disponível para leitores de tela: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extende a classe .visuallyhidden para permitir que o elemento seja focalizável
 * quando navegado via teclado: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Esconder visualmente e dos leitores de tela, mas mantém o layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: containers com float
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * Para IE 6/7 apenas
 * Inclui esta regra para tratar o hasLayout e containers com float.
 */

.clearfix {
    *zoom: 1;
}